<img src="/logo.png" class="centered-image" alt="Centered Image" />

<div>
  <div>
    <h2>Won</h2>
    <p>{{ totalAmountWon | currency : "GBP" : "symbol" : "1.0-0" }}</p>
  </div>
  <div>
    <h2>Lost</h2>
    <p>{{ totalAmountLost | currency : "GBP" : "symbol" : "1.0-0" }}</p>
  </div>
  <div>
    <h2>Profit</h2>
    <p>
      {{ totalAmount | currency : "GBP" : "symbol" : "1.0-0" }} ({{
        (totalAmount / 3).toFixed(0) | currency : "GBP" : "symbol" : "1.0-0"
      }})
    </p>
  </div>
</div>

<div>
  <div>
    <h2>Luke</h2>
    <p>
      {{
        totalAmountWonByBettor["luke"] | currency : "GBP" : "symbol" : "1.0-0"
      }}
    </p>
  </div>
  <div>
    <h2>Jamie</h2>
    <p>
      {{
        totalAmountWonByBettor["jamie"] | currency : "GBP" : "symbol" : "1.0-0"
      }}
    </p>
  </div>
  <div>
    <h2>Steven</h2>
    <p>
      {{
        totalAmountWonByBettor["steven"] | currency : "GBP" : "symbol" : "1.0-0"
      }}
    </p>
  </div>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th>Game week</th>
      <th>Bettor</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bet of bets">
      <td>{{ bet.gameWeek }}</td>
      <td>
        <img height="50px" width="50px" [src]="'/' + bet.bettor + '.png'" />
      </td>
      <td>{{ bet.amountWon | currency : "GBP" : "symbol" : "1.0-0" }}</td>
    </tr>
  </tbody>
</table>
